SEC-2559: Person missing givenName attribute

[Chris Bonham](https://jira.spring.io/secure/ViewProfile.jspa?name=bonhamcm) (Migrated from [SEC-2559](https://jira.spring.io/browse/SEC-2559?redirect=false)) said:

The `givenName` attribute as described in [RFC 2256 section 5.43](http://tools.ietf.org/html/rfc2256#section-5.43) is missing from the `org.springframework.security.ldap.userdetails.Person` class.
