OAuth 2.0 Authorization Server Use-Case

As directed, here are more details on what I'm using Spring Security OAuth2.0 for.
More information can be provided privately, or clarified on request.

Original overview: http://disq.us/p/25ju58w and Gitter Spring Security Channel

The system provides an open source solution for utilities to implement the North American Energy Standards Board (NAESB) Retail Energy Quadrant book 21 (REQ.21) Energy Service Provider Interface (ESPI) which allows retail customers and Third Party applications obtain electricity, natural gas, and water usage information in machine readable format (XML) wrapped in an Atom feed wrapper allowing the ability to create relations between the various ESPI resources for energy and retail customer information.  The system was originally created with the assistance of Pivotal based on Spring Framework (4.0.6.RELEASE) Spring Security (3.2.3.RELEASE) and Spring Security OAuth (2.0.2.RELEASE).  At the time the only available access token format was opaque RFC 6751 which is still the only supported access token based on the NAESB REQ.21 ESPI standard.

I am the sole maintainer and developer.  I had planned to upgrade the Spring components 24 months ago, but when Pivotal announced they planned to merge all the elements of the Spring Security OAuth project into Spring Security with a road map indicating the merge would be completed by Q1 of 2019, rather than performing a double upgrade I postponed the upgrade.  Since then the road map has slipped and now there will be no Spring Security Authorization Server.

## OAuth Stuff
Client details are loaded via JDBC (JdbcClientDetailsService), and managed via Spring Data, and maintained in the Spring Security OAuth tokenstore MySQL database.

Access and refresh tokens are opaque, long, and stored in the Spring Security Oauth MySQL tokenstore.  Although the NAESB REQ.21 ESPI standard allows a Client and Resource Owner to terminate an access token, the code has not been updated to support RFC 7009 [#spring-projects/spring-security-oauth#146](https://github.com/spring-projects/spring-security-oauth/issues/146).

`TokenEnhancer` is extended to support additional Token Endpoint Response elements as allowed by Section 4.3.3. Access Token Response of RFC 6749 and shown as `example_parameter` in the response example.

`ApprovalStoreUserApprovalHandler` is extended to ensure the scope parameter provided by the Client has been pre-registered.

Out of interest, how long is "long", if they're also opaque?

Access tokens are UIDs.

The default UUIDs? I'd call those short. JWTs are long, especially if using RS256.

Yes, using your definition of long vs short, then our access tokens are short.

@dfcoffin Please see this [comment](https://github.com/spring-projects/spring-security/issues/7657#issuecomment-557271004)

Related #7657

@jgrandja Thank you for the Keycloak comment.  However, Authentication is NOT something the sample needs to provide, since the target customer base are Utilities who already have existing Authentication systems for their current customer web portals (some of which are in the millions) and therefore unlikely to convert existing Authentication systems to implement the NAESB REQ.21 ESPI standard.  All that is required is an Authorization server.

The 'simple-auth-extension' describes Authentication hooks, NOT Authorization and Token Endpoints, as far as I could tell.

@dfcoffin 

> The 'simple-auth-extension' describes Authentication hooks, NOT Authorization and Token Endpoints, as far as I could tell.

You could hook into the Password grant flow using the Authentication hook. It's not just Authentication although the name may be misleading. You could also hook into Client Authentication. Likely more options available but you'll need to dig into the docs.

> All that is required is an Authorization server

You could use it only as an Authorization server without any of the Authentication bits. I've used it this way. Dig into the docs and you'll see.


Unfortunately, the NAESB REQ.21 ESPI standard prohibits the use of the Implicit and Resource Owner Password Credential Grant flows due to the fact they both present potential security risk.  Only the Client Credential, Authorization Code and Refresh Token Grant flows are allowed by the standard.  If the Password Grant flow is the only way to access an Authorization Server using Keycloak, it is NOT a viable solution to replace the Authorization capability provided by the Spring Security Oauth project.  It is really beginning to sound like rolling our own Authorization Server is the only viable solution given Pivotal's decision to drop support for an Authorization Server capability as part of Spring Security.

@dfcoffin 

> If the Password Grant flow is the only way to access an Authorization Server using Keycloak, it is NOT a viable solution to replace the Authorization capability provided by the Spring Security Oauth project

This is not what I meant to say. Maybe I wasn't clear. Keycloak supports all the standard grants and some extension grants. I've used OIDC, Authorization Code, Client Credentials, Refresh Token and Password in my samples. Here is a sample you could check out that I co-presented at Spring one https://github.com/jgrandja/oauth2-protocol-patterns/tree/s1p-2019

I encourage you to spend some time looking at the Keycloak docs and you'll discover all it's capabilities.

@jgrandja 

Thanks.  I'll checkout the Spring One demo, is there a video of the presentation as well?

@dfcoffin Here you go https://www.youtube.com/watch?v=JnYIsvJY7gM

@dfcoffin I'm going to close this issue as I believe I've provided you a few resources referenced in this issue and #7657 that will help you migrate to Keycloak, if you decide to go down this path. Also, please take a look at this [comment](https://github.com/spring-projects/spring-security/issues/7657#issuecomment-558668726) for additional information.