NimbusJwtEncoder produces JWT with wrong "typ" header value

**Describe the bug**

In Spring Security 7, a `NimbusJwtEncoder` constructed by `private NimbusJwtEncoder(JWK jwk)` produces `Jwt` objects with incorrent `"typ"` parameter values in headers.  The `"typ"` header parameter should declare the media type of the complete JWT and the value should be `"JWT"` in most cases, as is defined in [RFC 7519](https://www.rfc-editor.org/rfc/rfc7519.html#section-5.1).  However, the value emitted by `NimbusJwtEncoder` is acutally the type of the signing JWK, i.e. the `"kty"` value defined in [RFC 7517](https://www.rfc-editor.org/rfc/rfc7517.html#section-4.1), whose common values include `"RSA"`, `"EC"`, `"oct"`, etc..

Such an incorrect `"typ"` value is rejected by `JwtTypeValidator.jwt()`, which is employed by `NimbusJwtDeocder` by default in Spring Security 7, causing a JWT verification error.

This bug was introduced in Line 139 below, where `jwk.getKeyType()` was passed to `JwsHeader.Builder::type(String type)`:

https://github.com/spring-projects/spring-security/blob/676b44ebb052d4600bc99e6ecb3fb4f656b85a8a/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtEncoder.java#L131-L139

**To Reproduce**

1. Create a `NimbusJwtEncoder` instance using `SecretKeyJwtEncoderBuilder` (You may also use `RsaKeyPairJwtEncoderBuilder` or `EcKeyPairJwtEncoderBuilder`, as long as the private constructor is invoked):

   ```java
   SecretKey secretKey = KeyGenerator.getInstance("HmacSHA256").generateKey();
   NimbusJwtEncoder jwtEncoder = NimbusJwtEncoder.withSecretkey(secretKey).build();
   ```

2. Encode a JWT with the `NimbusJwtEncoder` instance:

   ```java
   JwtClaimsSet claims = TestJwtClaimsSets.jwtClaimsSet().build();
   Jwt jwt = jwtEncoder.encode(JwtEncoderParamaters.from(claims));
   ```

3. Print out the `"typ"` parameter value, and you'll see `oct` —— the `"kty"` of a HS256 JWK.

   ```java
   System.out.println(jwt.getHeaders().get(JoseHeaderNames.TYP));  // It prints: oct
   ```

**Expected behavior**

The expected value of the `"typ"` header parameter is often `"JWT"`.  If [RFC 9068](https://www.rfc-editor.org/rfc/rfc9068.html) is anticipated it may be `"at+jwt"`. 

**Sample**

I was surprised by the fact that this bug hasn't been caught by existing tests, so I created a symmetric test [NimbusJwtEncoderDecoderTests.java](https://github.com/ziqin/spring-security/blob/jwt-typ-bug/oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtEncoderDecoderTests.java) where a JWT  encoded with `NimbusJwtEncoder` is then decoded with `NimbusJwtDecoder`.  With a `JwtTypeValidator` included in `JwtValidators.createDefault()`, `NimbusJwtDecoder` throws a `JwtValidationException`, saying:

> An error occurred while attempting to decode the Jwt: the given typ value needs to be one of [JWT]