Improve OAuth2 Device Authorization consent handling for missing scopes

There are two related issues in the OAuth2 Device Authorization flow when no scopes are requested.

The first issue is that when a `device_authorization` request is made without a scope, everything works fine, but when both `authorities` and `scope` are empty, an error is thrown that does not comply with [Section 3.3 of RFC-6749](https://datatracker.ietf.org/doc/html/rfc6749#section-3.3). The second issue is that the error itself is reported as a `client_id` error rather than a `scope` error. Therefore, we need to resolve these two issues.

- [ ] https://github.com/spring-projects/spring-security/pull/19257
- [ ] https://github.com/spring-projects/spring-security/pull/19258


Inspiration: https://github.com/spring-projects/spring-security/issues/19238